body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #4b266b;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

header p {
    margin: 0.5em 0;
    font-size: 1.2em;
    color: #bdc3c7;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
    font-size: 0.9em;
}

.contact-info span {
    display: inline-flex;
    align-items: center;
}

.contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    filter: invert(1);
}

.separator {
    display: none;
}

main {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #e0e0e0;
}

.right-column {
    flex: 2;
    padding: 20px;
}

h2 {
    color: #402c50;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-top: 0;
}

.experiencia-item,
.educacion-item {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 5px;
    color: #4b345e;
}

h4 {
    margin-bottom: 5px;
    color: #41345e;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    padding-left: 1.5em;
    position: relative;
}

li::before {
    content: "•";
    color: #8a34db;
    position: absolute;
    left: 0.5em;
}


/* Ajustes específicos para la sección de idiomas */

#idiomas ul {
    padding-left: 1em;
    /* Ajusta este valor según sea necesario */
}

#idiomas li {
    padding-left: 0.5em;
}

#idiomas li::before {
    left: -0.5em;
}


/* Los estilos para experiencia y otras secciones se mantienen igual */

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        flex: none;
        width: 100%;
    }
    .left-column {
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }
    header h1 {
        font-size: 2em;
    }
    header p {
        font-size: 1em;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
    .separator {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1em 0;
    }
    header h1 {
        font-size: 1.5em;
    }
    header p {
        font-size: 0.9em;
    }
    .contact-info {
        font-size: 0.8em;
    }
    main {
        margin: 10px;
    }
    .left-column,
    .right-column {
        padding: 10px;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.9em;
    }
    li {
        font-size: 0.9em;
    }
}